.squiz-width-100 {
    width: 100%;
}

.squiz-error {
    margin: 0;
    color: red;
    font-weight: 500;
}

.squiz-input-wrapper {
    margin-bottom: 5px;
}

.form-wrapper input, .form-wrapper textarea {
    width: 100%;
}