<template>

    <div class="question-wrap">
        <table class="form-wrapper sq-w-100">
            <tr>
                <td><label>Название вопроса</label></td>
                <td>
                    <input v-model="question.title" type="text" size="60">
                </td>
            </tr>
            <tr>
                <td><label>Размер шрифта вопроса</label></td>
                <td>
                    <input v-model="question.title_font" type="number">
                </td>
            </tr>

            <tr>
                <td><label>Подсказка</label></td>
                <td>
                    <textarea v-model="question.description" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td><label>Размер шрифта подсказки</label></td>
                <td>
                    <input v-model="question.desc_font" type="number">
                </td>
            </tr>
        </table>
        <div class="question-wrapper">
            <div class="row">
                <div class="col-4">
                    <ul class="sq-list">
                        <li v-for="(type, index) in questionTypes"
                            @click="setCurrent(index)"
                            :class="(index === currentTypeIndex) ? 'sq-active' : ''"
                            :key="index"
                        >{{ type.title }}
                        </li>
                    </ul>
                </div>
                <div class="col-8">
                    <div v-if="currentType !== undefined" class="sq-answers">
                        <text-type v-if="currentType.value === 'text'"
                                   :questionParams="(question.qtype === currentType.id) ? question.parameters : textQuestionParams"

                        ></text-type>
                        <image-type v-else-if="currentType.value === 'images'"
                                    :questionParams="(question.qtype === currentType.id) ? question.parameters : imgQuestionParams"
                        ></image-type>
                        <image-text-type v-else-if="currentType.value === 'images_text'"
                                    :questionParams="(question.qtype === currentType.id) ? question.parameters : imgTextQuestionParams"
                        ></image-text-type>
                        <select-type v-else-if="currentType.value === 'select'"
                                    :questionParams="(question.qtype === currentType.id) ? question.parameters : selectQuestionParams"
                        ></select-type>
                        <range-type v-else-if="currentType.value === 'range'"
                                    :questionParams="(question.qtype === currentType.id) ? question.parameters : rangeQuestionParams"
                        ></range-type>
                        <date-type v-else-if="currentType.value === 'date'"
                                    :questionParams="(question.qtype === currentType.id) ? question.parameters : dateQuestionParams"
                        ></date-type>
                        <custom-text-type v-else-if="currentType.value === 'custom_text'"
                                    :questionParams="(question.qtype === currentType.id) ? question.parameters : custTextQuestionParams"
                        ></custom-text-type>
                        <final-form-type v-else-if="currentType.value === 'final_form'"
                                    :questionParams="(question.qtype === currentType.id) ? question.parameters : finalFormParams"
                        ></final-form-type>
                        <div v-else>В разработке</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sq-mt-10">
            <button @click="submitForm" class="button-primary">Сохранить</button>

            <button v-tooltip="'Показать этот вопрос при условии'"
                    @click="setModal(true)"
                    class="btn btn-secondary sq-ml-10"
            >
                <font-awesome-icon icon="code-branch"></font-awesome-icon>
                <span></span>
            </button>
        </div>
        <modal v-if="showModal" @close="setModal(false)" ></modal>

    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import TextType from './types/TextType'
    import ImageType from './types/ImageType'
    import DateType from './types/DateType'
    import ImgTextType from './types/ImgTextType'
    import RangeType from './types/RangeType'
    import SelectType from './types/SelectType'
    import CustomTextType from './types/CustomTextType'
    import FinalFormType from './types/FinalFormType'
    import { required, minLength } from 'vuelidate/lib/validators'
    import ConditionsModal from './ConditionsModal'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
    import {faCodeBranch} from '@fortawesome/free-solid-svg-icons'

    library.add(faCodeBranch);

    export default {
        name: "App",
        props: ['question_id', 'quiz_id'],
        data() {
            return {
                validations: {
                    title: {
                        required,
                        minLength: minLength(4)
                    }
                },
                textQuestionParams: {
                    choices: [],
                    isFewChoices: false,
                    isOthers: false,
                    isNotRequired: false
                },
                imgQuestionParams: {
                    choices: [],
                    isFewChoices: false,
                    isNotRequired: false
                },
                selectQuestionParams: {
                    choices: [],
                    isNotRequired: false
                },
                imgTextQuestionParams: {
                    choices: [],
                    isFewChoices: false,
                    isOthers: false,
                    isNotRequired: false
                },
                rangeQuestionParams: {
                    choices: [],
                    isNotRequired: false,
                    min: 0,
                    max: 100
                },
                dateQuestionParams: {
                    choices: [],
                    isNotRequired: false,
                    isDateRange: false
                },
                custTextQuestionParams: {
                    choices: [],
                    isNotRequired: false
                },
                finalFormParams: {}
            }
        },
        created() {
            this.init();
        },
        computed: {
            ...mapState([
                'questionTypes',
                'question',
                'showModal',
                'conditions',
                'currentTypeIndex'
            ]),
            currentType() {
                return this.questionTypes[this.currentTypeIndex];
            }
        },
        methods: {
            init() {
                this.$store.dispatch('getQuestionType', {
                    action: 'smartquiz_ajax',
                    smartquiz_action: 'question_type'
                });

                this.$store.dispatch('getConditionQuestionList', {
                    action: 'smartquiz_ajax',
                    smartquiz_action: 'get_prev_question',
                    question_id: this.question_id,
                });

                if (this.question_id > 0) {
                    this.$store.dispatch('getQuestionParams', {
                        action: 'smartquiz_ajax',
                        smartquiz_action: 'get_question',
                        question_id: this.question_id,
                    });

                    this.$store.dispatch('getConditions', {
                        action: 'smartquiz_ajax',
                        smartquiz_action: 'get_question_conditions',
                        question_id: this.question_id,
                    });
                }
            },
            setModal(state) {
                this.$store.commit('setShowModal', state);

                if (this.showModal === true) {
                    document.body.classList.add('sq-modal-open');
                } else {
                    document.body.classList.remove('sq-modal-open');
                }
            },
            setCurrent(index) {
                this.$store.commit('setCurrentTypeIndex', index);
            },
            submitForm() {
                if (this.validate()) {

                    let qParams = null;

                    if (this.currentType.value === 'text') {
                        qParams = (this.question.qtype === this.currentType.id) ? this.question.parameters : this.textQuestionParams;
                    } else if (this.currentType.value === 'images') {
                        qParams = (this.question.qtype === this.currentType.id) ? this.question.parameters : this.imgQuestionParams;
                    } else if (this.currentType.value === 'images_text') {
                        qParams = (this.question.qtype === this.currentType.id) ? this.question.parameters : this.imgTextQuestionParams;
                    } else if (this.currentType.value === 'select') {
                        qParams = (this.question.qtype === this.currentType.id) ? this.question.parameters : this.selectQuestionParams;
                    } else if (this.currentType.value === 'range') {
                        qParams = (this.question.qtype === this.currentType.id) ? this.question.parameters : this.rangeQuestionParams;
                    } else if (this.currentType.value === 'date') {
                        qParams = (this.question.qtype === this.currentType.id) ? this.question.parameters : this.dateQuestionParams;
                    } else if (this.currentType.value === 'custom_text') {
                        qParams = (this.question.qtype === this.currentType.id) ? this.question.parameters : this.custTextQuestionParams;
                    } else if (this.currentType.value === 'final_form') {
                        qParams = (this.question.qtype === this.currentType.id) ? this.question.parameters : this.finalFormParams;
                    }

                    let form_data = new FormData();
                    form_data.append('action', 'smartquiz_ajax');
                    form_data.append('smartquiz_action', 'admin_add_question');
                    form_data.append('title', this.question.title);
                    form_data.append('title_font', this.question.title_font);
                    form_data.append('description', this.question.description);
                    form_data.append('desc_font', this.question.desc_font);
                    form_data.append('qtype_id', this.questionTypes[this.currentTypeIndex].id);
                    form_data.append('quiz_id', this.quiz_id);
                    form_data.append('question_id', this.question_id);
                    form_data.append('parameters', JSON.stringify(qParams));
                    form_data.append('conditions', JSON.stringify(this.conditions));

                    const config = {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    };
                    return axios.post('/wp-admin/admin-ajax.php', form_data, config)
                        .then(response => {
                            swal({
                                title: 'Данные успешно сохранены',
                                type: 'success',
                                }).then((result) => {
                                    if (result.value) {
                                        window.location = '/wp-admin/admin.php?page=smart_quiz_questions&quiz_id=' + this.quiz_id;
                                    }
                                })

                        })
                        .catch(error => {
                            console.log(error);
                        });


                } else {
                    alert('not ok')
                }
            },
            validate() {

                if (this.question.title.length < 3) {
                    return false
                }

                return true;
            }
        },
        components: {
            'text-type': TextType,
            'image-type': ImageType,
            'image-text-type': ImgTextType,
            'date-type': DateType,
            'range-type': RangeType,
            'select-type': SelectType,
            'custom-text-type': CustomTextType,
            'final-form-type': FinalFormType,
            'modal': ConditionsModal,
            'font-awesome-icon': FontAwesomeIcon,
        }
    }
</script>

<style lang="sass">
    @import "../sass/app"
</style>