<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper" @click="$emit('close')">
                <div class="modal-container" @click.stop>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Условия видимости</h2>
                            <button class="close-btn" @click="$emit('close')">&nbsp;</button>
                        </div>
                        <div class="modal-body">

                            <div v-for="(condition, index_cond) in conditions" :key="index_cond" class="sq-conditions">
                                <div class="card-body">
                                    <div class="sq-conditions__header">
                                        <div class="medium-text">Удалить условие</div>
                                        <div @click="deleteChoice(index_cond)" class="sq-ml-10 icon-delete sq-btn">
                                            <font-awesome-icon icon="trash"></font-awesome-icon>
                                        </div>
                                    </div>
                                    <div class="sq-conditions__body">
                                        <div class="form-control">
                                            <div class="light-text sq-mt-10">Показать, если в ответ на вопрос</div>
                                            <select v-model="conditions[index_cond].question_id" class="sq-w-100">
                                                <option v-for="(question, index) in questionList"
                                                        :value="question.id"
                                                >
                                                    {{ question.label }}
                                                </option>
                                            </select>
                                        </div>

                                        <div v-if="conditions[index_cond].question_id > 0" class="form-control">
                                            <div class="light-text sq-mt-10">Дан ответ</div>
                                            <select v-model="conditions[index_cond].answer_id"
                                                    class="sq-w-100"
                                            >
                                                <option v-for="(choice, index) in questionChoices(conditions[index_cond].question_id)"
                                                        :value="choice.id"
                                                >
                                                    {{ choice.label }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-secondary" @click="createCondition">
                                <font-awesome-icon icon="plus"></font-awesome-icon>
                                Добавить условие
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import {mapState} from 'vuex'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
    import {faTrash} from '@fortawesome/free-solid-svg-icons'
    import {faPlus} from '@fortawesome/free-solid-svg-icons'

    library.add(faTrash);
    library.add(faPlus);

    export default {
        name: "ConditionsModal",
        computed: {
            ...mapState([
                'questionList',
                'conditions'
            ])
        },
        methods: {
            deleteChoice (index) {
                this.conditions.splice(index, 1)
            },
            createCondition() {
                this.conditions.push({
                    'question_id': null,
                    'answer_id': null
                });
            },
            questionChoices(id) {
                return this.questionList.filter(x => x.id === id)[0].choices;
            }
        },
        components: {
            'font-awesome-icon': FontAwesomeIcon,
        }
    }
</script>

<style scoped>

</style>