<template>
    <div class="sq-questions_wrapper">
        <table class="widefat">
            <thead>
                <tr>
                    <th>Перетащить</th>
                    <th>ID</th>
                    <th>Вопрос</th>
                    <th>Тип</th>
                    <th>Редактировать / Удалить</th>
                </tr>
            </thead>
            <draggable v-model="questionsTableList" :element="'tbody'">
                <tr v-for="question in questionsTableList" class="alternate">
                    <td>
                        <div class="icon-drag">
                            <font-awesome-icon icon="arrows-alt"></font-awesome-icon>
                        </div>
                    </td>
                    <td>
                        {{ question.id }}
                    </td>
                    <td>{{ question.title }}</td>
                    <td>{{ question.qtype }}</td>
                    <td>
                        <a :href="'admin.php?page=smart_quiz_questions&action=edit&id='+question.id">
                            Edit
                        </a> |
                        <a href="#" @click="deleteQuestion(question.id)">
                            Delete
                        </a>
                    </td>
                </tr>
            </draggable>
        </table>

        <div class="sq-mt-10">
            <button @click="saveOrder" class="button-primary">Сохранить порядок</button>
        </div>

    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
    import {faArrowsAlt} from '@fortawesome/free-solid-svg-icons'

    library.add(faArrowsAlt);

    export default {
        name: "ListApp",
        props: ['quiz_id'],

        created() {
            this.init();
        },
        computed: {
            questionsTableList: {
                get() {
                    return this.$store.state.questionsTableList
                },
                set(value) {
                    this.$store.commit('setQuestionsTableList', value)
                    /*this.$store.dispatch('updateQuestionSortOrder', {
                        action: 'smartquiz_ajax',
                        smartquiz_action: 'update_question_sort_order',
                        quiz_id: this.quiz_id,
                        questions: value
                    });*/
                }
            }
        },
        methods: {
            deleteQuestion(id) {
                swal({
                    title: 'Are you sure?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it'
                    }).then((result) => {
                            if (result.value) {
                                window.location = 'admin.php?page=smart_quiz_questions&quiz_id=' + this.quiz_id + '&del=1&id=' + id;
                            }
                        })
            },
            saveOrder() {
                this.$store.dispatch('updateQuestionSortOrder', {
                    action: 'smartquiz_ajax',
                    smartquiz_action: 'update_question_sort_order',
                    quiz_id: this.quiz_id,
                    questions: this.questionsTableList
                }).then(() => {
                    swal({
                        title: 'Данные успешно сохранены',
                        type: 'success',
                    })
                });
            },
            init() {
                this.$store.dispatch('getQuestionsTableList', {
                    action: 'smartquiz_ajax',
                    smartquiz_action: 'get_question_list',
                    quiz_id: this.quiz_id
                });
            }
        },
        components: {
            draggable,
            'font-awesome-icon': FontAwesomeIcon,
        }
    }
</script>

<style scoped>
    .icon-drag {
        cursor: move;
        color: grey;
    }
    .sq-mt-10 {
        margin-top: 10px;
    }
</style>