<template>
    <div id="squiz-app" class="squiz-container">
        <button @click="setModal(true)" class="squiz-button squiz-button--round squiz-button--blick squiz-button--shadow">{{ quizData.title }}</button>
        <modal v-if="showModal" @close="setModal(false)" :quiz_id="quiz"></modal>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        props: ['quiz'],
        data: function () {
            return {
                quizId: 0,
            }
        },
        created() {
            // check utm on start app
            this.initRefTail();
            this.init();
        },
        mounted() {
        },
        computed: {
            ...mapState([
                'quizData',
                'showModal',
                'referalUtm'
            ]),
        },
        methods: {
            setModal(state) {
                this.$store.commit('setShowModal', state);

                if (this.showModal === true) {
                    document.body.classList.add('sq-modal-open');
                } else {
                    document.body.classList.remove('sq-modal-open');
                }
            },
            initRefTail() {
                const getParams = new URL(document.URL).searchParams;

                const utm = {
                    utm_source: getParams.get("utm_source"),
                    utm_medium: getParams.get("utm_medium"),
                    utm_campaign: getParams.get("utm_campaign"),
                    utm_term: getParams.get("utm_term")
                };
                // set utm into store
                this.$store.commit('setReferalUtm', utm);
            },
            init() {
                this.$store.dispatch('getQuizData', {
                    action: 'smartquiz_ajax',
                    smartquiz_action: 'get_quiz_front',
                    quiz_id: this.quiz,
                });
            }
        }
    }
</script>

<style lang="sass">
    @import "../sass/app"
</style>