<template>

    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper" @click="$emit('close')">
                <final-form v-if="currentQuestion >= (quizData.questions.length - 1)"
                            :answeredIndexes="passQuestions"
                            :formText="finalFormText.title"
                            :quiz_id="quiz_id"
                ></final-form>
                <div v-else class="modal-container" @click.stop>
                    <div class="squiz__content">
                        <button class="close-btn" @click="$emit('close')">&nbsp;</button>
                        <div class="squiz__header">
                            <div class="squiz__header--title">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 16.141 16.597"
                                     class="squiz__icon"
                                >
                                    <g id="check-form_1_" data-name="check-form (1)" transform="translate(-5.963)">
                                        <path id="Path_12"
                                              d="M18.438 8.8V1.337H7.3V15.26h5.124a.668.668 0 0 1 0 1.337H6.631a.67.67 0 0 1-.668-.668V.668A.67.67 0 0 1 6.631 0h12.476a.67.67 0 0 1 .668.668V8.8a.668.668 0 1 1-1.337 0zm3.442 1.626a.67.67 0 0 0-.947.056l-3.665 4.077-1.838-1.771a.67.67 0 0 0-.925.969l2.339 2.25a.657.657 0 0 0 .468.189h.022a.668.668 0 0 0 .468-.223l4.121-4.589a.672.672 0 0 0-.043-.958zM15.988 3.9H9.973a.668.668 0 1 0 0 1.337h6.015a.668.668 0 1 0 0-1.337zm.668 4.344a.67.67 0 0 0-.668-.668H9.973a.668.668 0 0 0 0 1.337h6.015a.67.67 0 0 0 .668-.67zm-6.683 2.9a.668.668 0 0 0 0 1.337h1.782a.668.668 0 0 0 0-1.337z"
                                              class="cls-1"></path>
                                    </g>
                                </svg>
                                {{ quizData.title }}

                            </div>
                            <hr class="squiz__header--separator">
                            <div class="squiz__question--title"
                                 :style="{ fontSize: quizData.questions[currentQuestion].title_font + 'px' }"
                            >
                                {{ quizData.questions[currentQuestion].title }}
                            </div>

                            <div class="squiz__progress">
                                <div class="squiz__progress--label">
                                    Готово: <span>{{ getProgress }}%</span>
                                </div>
                                <div class="squiz__progress--bar">
                                    <span :style="pBarStyle"></span>
                                </div>
                            </div>
                            <div v-show="quizData.questions[currentQuestion].text !== ''" class="squiz__desc--mob">
                                <div class="squiz__sidebar--description">
                                    <div class="expandable-container">
                                        <div class="expandable-container--text"
                                             :style="{ fontSize: quizData.questions[currentQuestion].text_font + 'px' }"
                                        >
                                            {{ quizData.questions[currentQuestion].text }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="squiz__buttons">

                                <div class="squiz__progress squiz__progress--mob">
                                    <div class="squiz__progress--label">
                                        Готово: <span>{{ getProgress }}%</span>
                                    </div>
                                    <div class="squiz__progress--bar">
                                        <span :style="pBarStyle"></span>
                                    </div>
                                </div>

                                <button @click="prev"
                                        class="w-icon button pull-left squiz__buttons--button squiz__buttons--prev"
                                        :disabled="this.currentQuestion < 1"
                                >
                                    <svg x="0px"
                                         y="0px"
                                         viewBox="0 0 31.49 31.49"
                                         xml:space="preserve"
                                         class="icon-back"
                                    >
                                        <path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path>
                                    </svg>
                                    <span class="squiz__buttons--button-text">
                                        Назад
                                    </span>
                                </button>
                                <button @click="next"
                                        :class="'w-icon button pull-right squiz__buttons--button squiz__buttons--next'"
                                        :disabled="quizData.questions[currentQuestion].userAnswer === null
                                        && !quizData.questions[currentQuestion].isNotRequired"
                                >
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve" class="d-none-desc icon-next"><g ><path d="M468.907,214.604c-11.423,0-20.682,9.26-20.682,20.682v20.831c-0.031,54.338-21.221,105.412-59.666,143.812c-38.417,38.372-89.467,59.5-143.761,59.5c-0.04,0-0.08,0-0.12,0C132.506,459.365,41.3,368.056,41.364,255.883c0.031-54.337,21.221-105.411,59.667-143.813c38.417-38.372,89.468-59.5,143.761-59.5c0.04,0,0.08,0,0.12,0c28.672,0.016,56.49,5.942,82.68,17.611c10.436,4.65,22.659-0.041,27.309-10.474c4.648-10.433-0.04-22.659-10.474-27.309c-31.516-14.043-64.989-21.173-99.492-21.192c-0.052,0-0.092,0-0.144,0c-65.329,0-126.767,25.428-172.993,71.6C25.536,129.014,0.038,190.473,0,255.861c-0.037,65.386,25.389,126.874,71.599,173.136c46.21,46.262,107.668,71.76,173.055,71.798c0.051,0,0.092,0,0.144,0c65.329,0,126.767-25.427,172.993-71.6c46.262-46.209,71.76-107.668,71.798-173.066v-20.842C489.589,223.864,480.33,214.604,468.907,214.604z"></path></g><g data-v-701ac82d=""><path data-v-701ac82d="" d="M505.942,39.803c-8.077-8.076-21.172-8.076-29.249,0L244.794,271.701l-52.609-52.609c-8.076-8.077-21.172-8.077-29.248,0c-8.077,8.077-8.077,21.172,0,29.249l67.234,67.234c4.038,4.039,9.332,6.058,14.625,6.058c5.293,0,10.586-2.019,14.625-6.058L505.942,69.052C514.019,60.975,514.019,47.88,505.942,39.803z"></path></g></svg>
                                    <span>Далее</span>
                                    <svg x="0px"
                                         y="0px"
                                         viewBox="0 0 31.49 31.49"
                                         xml:space="preserve"
                                         class="icon-forw d-none-mob"
                                    >
                                        <path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path>
                                    </svg>
                                </button>
                            </div>

                        </div>

                        <div class="squiz__body">

                            <image-type ref="upd" v-if="quizData.questions[currentQuestion].type === 'images'"
                                        :question="quizData.questions[currentQuestion]"
                                        :next="next"
                            ></image-type>

                            <text-type v-else-if="quizData.questions[currentQuestion].type === 'text'"
                                       :question="quizData.questions[currentQuestion]"
                                       :next="next"
                            ></text-type>

                            <select-type v-else-if="quizData.questions[currentQuestion].type === 'select'"
                                       :question="quizData.questions[currentQuestion]"
                                       :next="next"
                            ></select-type>

                            <range-type v-else-if="quizData.questions[currentQuestion].type === 'range'"
                                       :question="quizData.questions[currentQuestion]"
                                       :next="next"
                            ></range-type>

                            <custom-text-type v-else-if="quizData.questions[currentQuestion].type === 'custom_text'"
                                       :question="quizData.questions[currentQuestion]"
                                       :next="next"
                            ></custom-text-type>

                            <img-text-type v-else-if="quizData.questions[currentQuestion].type === 'images_text'"
                                       :question="quizData.questions[currentQuestion]"
                                       :next="next"
                            ></img-text-type>


                        </div>

                    </div>
                    <!--<div class="squiz__sidebar">-->
                        <!--<button class="close-btn" @click="$emit('close')">&nbsp;</button>-->
                        <!--<div class="squiz__sidebar&#45;&#45;description">-->
                            <!--{{ quizData.questions[currentQuestion].text }}-->
                        <!--</div>-->
                    <!--</div>-->
                </div>

            </div>
        </div>
    </transition>

</template>

<script>
    import {mapState} from 'vuex'
    import ImageType from './type/QuizImageType'
    import TextType from './type/QuizTextType'
    import SelectType from './type/QuizSelectType'
    import RangeType from './type/QuizRangeType'
    import QuizCustomTextType from './type/QuizCustomTextType'
    import QuizImgTextType from './type/QuizImgTextType'
    import FinalForm from './type/FinalForm'

    export default {
        name: "Modal",
        data() {
            return {
                progress: 0,
                isExpanded: false,
                currentQuestion: 0,
                passQuestions: [],
                finalFormText: null
            }
        },
        props: ['quiz_id'],
        computed: {
            ...mapState([
                'quizData'
            ]),
            pBarStyle() {
                const progress = Math.round( (this.currentQuestion / this.quizData.questions.length) * 100);

                return {
                    width: progress + '%'
                }
            },
            getProgress() {
                return Math.round((this.currentQuestion / this.quizData.questions.length) * 100);
            },
            userAnswer() {
                if (this.userAnswers.length > 0) {
                    const objIndex = this.userAnswers.answers.findIndex((obj => obj.question_id === this.currentQuestion));
                    if (objIndex !== -1) {
                        return this.userAnswers.answers[objIndex];
                    } else {
                        return null;
                    }
                }
            },

        },
        methods: {
            next () {
                if ( this.quizData.questions[this.currentQuestion].userAnswer === null
                    && this.quizData.questions[this.currentQuestion].isNotRequired)
                {
                    this.currentQuestion = this.checkCondition(this.currentQuestion);

                    if (this.quizData.questions[this.currentQuestion].type === 'final_form') {
                        this.finalFormText = this.quizData.questions[this.currentQuestion];
                        this.currentQuestion = this.checkCondition(this.currentQuestion);
                    }


                } else if ( (this.currentQuestion < this.quizData.questions.length)
                    && (this.quizData.questions[this.currentQuestion].userAnswer !== null))
                {
                    this.passQuestions.push(this.currentQuestion);

                    this.currentQuestion = this.checkCondition(this.currentQuestion);

                    if (this.quizData.questions[this.currentQuestion].type === 'final_form') {
                        this.finalFormText = this.quizData.questions[this.currentQuestion];
                        this.currentQuestion = this.checkCondition(this.currentQuestion);
                    }

                }
            },
            prev () {
                if ( this.currentQuestion > 0 )
                {
                    this.passQuestions.splice(-1,1);
                    if (this.passQuestions.length > 1) {
                        this.currentQuestion = Math.max(...this.passQuestions);
                    } else {
                        this.currentQuestion = 0;
                    }
                }
            },
            checkCondition(currQ) {
                const model = this;
                let isValid = true;
                if ( (this.quizData.questions[currQ + 1] !== undefined) && (this.quizData.questions[currQ + 1].display !== undefined) && (currQ < this.quizData.questions.length) ) {
                    currQ++;
                    const qData = this.quizData;
                    let conditions = qData.questions[currQ].display.conditions;
                    conditions.forEach(function (condition) {
                        const objIndex = qData.questions.findIndex((obj => obj.id === condition.question));
                        const userAnswer = qData.questions[objIndex].userAnswer;

                        for (let i = 0; i < condition.answer.length; i++) {
                            if ((userAnswer !== condition.answer[i])) {
                                isValid = false;
                                break;
                                // model.checkCondition(currQ);
                            } else {
                                isValid = true;
                            }
                        }

                    });

                }
                if (isValid === false) {
                    return model.checkCondition(currQ);
                } else {
                    return currQ;
                }
            }
        },
        components: {
            'image-type': ImageType,
            'text-type': TextType,
            'select-type': SelectType,
            'range-type': RangeType,
            'custom-text-type': QuizCustomTextType,
            'img-text-type': QuizImgTextType,
            'final-form': FinalForm
        }
    }
</script>

<style scoped>

</style>