:root {
  --squiz-button-color: #206144;
  --squiz-button-text-color: #ffffff;
  --squiz-button-alpha-color: rgba(32, 97, 68, 0.5);

  --color: #206144;
  --color-lighten: #39ac78;
  --color-lighten10: #2d865e;
  --color-lighten2: #66cc9e;
  --color-darken: #06130d;
  --color-darken10: #133928;
  --color-alpha: rgba(32, 97, 68, 0.5);
  --color-alpha2: rgba(32, 97, 68, 0.2);
  --color-text: #ffffff;
  --color-text2: #206144;
  --gradient-main: 331deg, rgb(6, 19, 13), rgb(57, 172, 120);
}

@import "../fonts/gilroy/gilroy.css";
@import "main";
@import "modal";
@import "image-type";
@import "text-type";
@import "final-form";
@import "helpers";
