.pr {
  &-10 {
    padding-right: 10px;
  }
  &-15 {
    padding-right: 15px;
  }
  &-20 {
    padding-right: 20px;
  }

  &-zero {
    padding: 0 !important;
  }

}


.sq-w-100 {
  width: 100% !important;
}

.sq {
  &-mt-20 {
    margin-top: 20px;
  }
  &-row {
    display: flex;
  }
  &-col-lg-6 {
    width: 50%;
  }
}

.o-hidden {
  overflow: hidden;
}

.d-none {
  &-mob {
    display: none;
  }
  &-desc {
    display: block;
  }
}

@media (max-width: 768px) {
  .sq {
    &-row {
      flex-direction: column;
    }
    &-col-lg-6 {
      width: 100%;
    }
  }
}

@media (max-width: 818px) {
  .d-none {
    &-mob {
      display: block;
    }
    &-desc {
      display: none;
    }
  }
}