.squiz {
  &-check {
    display: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1.25rem;
    flex: 0 0 1.25rem;
    position: absolute;
    z-index: 100;
    right: 15px;
    top: 18px;
    border-radius: 18px;
    width: 36px;
    height: 36px;
    border: none;

    justify-content: center;
    align-items: center;
    background-color: hsla(0,0%,100%,.5);
    box-shadow: .6px 1.9px 6px 0 var(--color-alpha2);

    &:before {
      content: "";
      border-radius: 50%;
      width: .625em;
      height: .625em;
      background: #7957d5;
      -webkit-transform: scale(0);
      transform: scale(0);
      transition: -webkit-transform .15s ease-out;
      transition: transform .15s ease-out;
      transition: transform .15s ease-out,-webkit-transform .15s ease-out;
    }


  }
  &__image {
    &--container {
      padding: 10px;
    }
  }
}

.squiz-radio input[type=radio]:checked+.answer__image--wrapper .squiz-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-width: 3px;

  &:before {
    width: 24px;
    height: 24px;
    -webkit-transform: scale(1);
    transform: scale(1);
    background: var(--color);
    background-size: 21px
  }
}

.answer__image {
  .squiz-radio {
    outline: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    input[type="radio"] {
      display: none;
    }
  }
  &--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin: 0;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    box-shadow: 0.6px 1.9px 9px 0 rgba(0,0,0,.1);
    position: relative;


    &:hover, &.is-checked {
      border-color: var(--color-alpha);
      color: var(--color-text2);
      max-width: 100%;
    }

    img {
      opacity: 1;
      transition: opacity .15s;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      object-fit: cover;
      max-width: 320px;
      height: 200px;
      width: 100%;
    }
  }
  &--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 50px;
    padding: 5px 10px;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #69748c;
    overflow: hidden;
  }
}

.small-img {
  .answer__image--wrapper {
    margin-right: 5px;
  }
}
.big-img .answer__image {
  margin-right: 10px;
}
.big-img:last-child .answer__image {
  margin-right: 0;
}

@media (max-width: 767px) {
  .big-img img {
    max-width: 550px;
    height: 200px;
  }
}