.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-container {
  margin: 0px auto;
  display: flex;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Gilroy;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/**/

.modal-wrapper {
  z-index: 100010;
  position: relative;
  //margin: 12% auto 0;
  //max-width: 1200px;
  //width: 80%;
  transition: margin .2s ease-in
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;

}

.modal-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  //width: 100%
}

.modal-container {
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;

}

@media (max-width: 1439px) {
  .modal-wrapper {
    //margin-top: 6%
  }
}

@media (max-width: 1023px) {
  .modal-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    //width: 100%
  }
  .modal-container {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 100%;
    //overflow-y: scroll;
    //height: 100%;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .modal-container {
    min-height: 590px
  }
  .modal-wrapper {
    //margin: calc((100vh - 590px) / 2) auto 0
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .modal-container {
    height: 560px
  }
  .modal-wrapper {
    //margin: calc((100vh - 560px) / 2) auto 0
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .modal-wrapper {
    //width: 75%
  }
  .modal-container {
    width: 75%
  }
}

@media (min-width: 1440px) {
  .modal-container {
    height: 650px
  }
  .modal-wrapper {
    //margin: calc((100vh - 650px) / 2) auto 0
  }

}
