.squiz {
  &__text {
    &--container {

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-line-pack: distribute;
      align-content: space-around;
    }

    &--choices {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
      flex: 0 1 49%;
      margin-bottom: 1rem;
      border-radius: 5px;
      border: 1px solid rgba(217,216,230,.55);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      &.sq-full-width {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
      }

      label {
        margin-bottom: 0;
      }
    }
    &--other {
      display: flex;
      label {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 52px;
        flex: 1 1 52px;
        width: 52px;
      }
      .squiz__text--field {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        color: #363636;
      }
    }
    &-radio {
      padding: .8rem 1rem;
      width: 100%;
      text-align: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      outline: none;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input[type="radio"] {
        display: none;
      }

      .check-label {
        padding-left: 1rem;
        font-weight: 400;
      }
    }
    &--field {
      height: auto;
      .squiz-input {
        -webkit-appearance: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: 1rem;
        height: 50px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        line-height: 1.5;
        padding: calc(.375em - 1px) calc(.625em - 1px);
        position: relative;
        vertical-align: top;
        color: #363636;
        max-width: 100%;
        width: 100%;

        border: none;
        background: #f7f7f7;
        border-radius: 4px;
        box-shadow: none;

        &.input-dark {
          background-color: #e7e7e7;
        }

        &::placeholder {
          opacity: 1;
          color: #b7b7b7;
        }

      }
    }
  }
}

.b-check {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.25rem;
  flex: 0 0 1.25rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  transition: background .15s ease-out;

  border: none;
  background-color: #e8e8e8;

  &:before {
    content: "";
    border-radius: 50%;
    width: .625em;
    height: .625em;
    background: #7957d5;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out,-webkit-transform .15s ease-out;
  }

  .squiz__radio input[type="radio"]:checked+& {
    box-shadow: 0 2px 6px 0 var(--color-alpha);
    border: 2px solid var(--color);
    background: #fff;

    &:before {
      -webkit-transform: scale(1);
      transform: scale(1);
      width: 12px;
      height: 12px;
      background: var(--color);
      background-size: 21px;
    }
  }
}

@media (max-width: 767px) {
  .squiz__text {
    &--choices {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
    }
  }
  .squiz__radio input[type="radio"]:checked+.b-check {
    box-shadow: unset;
    //border: 2px solid var(--color);
    background: #fff;

    &:before {
      -webkit-transform: scale(1);
      transform: scale(1);
      width: 20px;
      height: 20px;
      background: var(--color);
      background-size: 21px;
    }
  }
}