<template>
    <div class="squiz-custom-text">

        <div>Позволить пользователю ввести свой вариант ответа</div>

        <div class="question__checkboxes">
            <div class="q-checkbox">
                <label>
                    Необязательный вопрос
                    <input type="checkbox" v-model="questionParams.isNotRequired" :checked="questionParams.isNotRequired">
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CustomTextType",
        props: {
            questionParams: {
                default: {
                    choices: [],
                    isFewChoices: false,
                    isOthers: false,
                    isNotRequired: false
                }
            }
        },
    }
</script>

<style scoped>

</style>