<template>
    <div class="sq-answers-date-wrapper">
        <div>Здесь пользователю будет предложен выбор даты</div>
        <div class="question__checkboxes">
            <div class="q-checkbox">
                <label>
                    Необязательный вопрос
                    <input type="checkbox" v-model="questionParams.isNotRequired" :checked="questionParams.isNotRequired">
                </label>
            </div>
            <div class="q-checkbox">
                <label>
                    Выбор диапазона дат
                    <input type="checkbox" v-model="questionParams.isDateRange" :checked="questionParams.isDateRange">
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DateType",
        props: {
            questionParams: {
                default: {
                    choices: [],
                    isNotRequired: false,
                    isDateRange: false
                }
            }
        },
    }
</script>

<style scoped>

</style>