<template>
    <div class="sq-answers-text-wrapper">
        Текст поля "Подсказка" будет выводиться на конечной форме
    </div>
</template>

<script>
    export default {
        name: "FinalFormType",
        props: {
            questionParams: {}
        },
    }
</script>

<style scoped>

</style>