<template>
    <div class="sq-answers-img_text-wrapper">
        <draggable v-model="questionParams.choices">
            <div v-for="(choice, index) in questionParams.choices" :key="index" class="sq-mb-10 sq-answer__container">
                <div v-if="questionParams.choices[index].value === null || questionParams.choices[index].value === ''"
                     @click="uploadImage(index)"
                     class="icon-black icon-upload"
                >
                    <font-awesome-icon icon="upload"></font-awesome-icon>
                </div>
                <div class="sq-btn icon-upload sq-background-icon"
                     v-else
                     @click="removeImage(index)"
                     :style="'background-image: url(\'' + questionParams.choices[index].image + '\')'"
                >
                    <font-awesome-icon icon="trash"></font-awesome-icon>
                </div>
                <input type="text" v-model="questionParams.choices[index].title" class="form-input input-upload"
                       @keypress="updateChoiceLabel(index, questionParams.choices[index])">
                <div @click="deleteChoice(index)" class="icon-delete sq-btn">
                    <font-awesome-icon icon="trash"></font-awesome-icon>
                </div>
                <div class="icon-drag">
                    <font-awesome-icon icon="arrows-alt"></font-awesome-icon>
                </div>
            </div>
        </draggable>
        <div class="sq-btn" @click="addChoice">
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span>Добавить вариант</span>
        </div>

        <div class="question__checkboxes">
            <div class="q-checkbox">
                <label>
                    Позволить пользователю вводить свой ответ
                    <input type="checkbox" v-model="questionParams.isOthers" :checked="questionParams.isOthers">
                </label>
            </div>
            <div class="q-checkbox">
                <label>
                    Необязательный вопрос
                    <input type="checkbox" v-model="questionParams.isNotRequired" :checked="questionParams.isNotRequired">
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
    import {faTrash} from '@fortawesome/free-solid-svg-icons'
    import {faPlus} from '@fortawesome/free-solid-svg-icons'
    import {faArrowsAlt} from '@fortawesome/free-solid-svg-icons'
    import {faUpload} from '@fortawesome/free-solid-svg-icons'

    library.add(faTrash);
    library.add(faPlus);
    library.add(faArrowsAlt);
    library.add(faUpload);

    export default {
        name: "ImgTextType",
        props: {
            questionParams: {
                default: {
                    choices: [],
                    isFewChoices: false,
                    isOthers: false,
                    isNotRequired: false
                }
            }
        },
        methods: {
            addChoice() {
                this.questionParams.choices.push({id: null, title: null, value: null, image: null });
            },
            deleteChoice(id) {
                this.questionParams.choices.splice(id, 1)
            },
            updateChoiceLabel(index, value) {
                // create new (updated object) update selected value
                // and keep old values of other object fields
                const updObject = Object.assign({}, this.questionParams.choices[index], {title: value});
                this.$set(this.questionParams.choices, index, updObject);
            },
            updateChoiceImage(index, value = null, image = null) {
                // create new (updated object) update selected value
                // and keep old values of other object fields
                const updObject = Object.assign({}, this.questionParams.choices[index], {value: value, image: image});
                this.$set(this.questionParams.choices, index, updObject);
            },
            removeImage(index) {
                const updObject = Object.assign({}, this.questionParams.choices[index], {value: null, image: null});
                this.$set(this.questionParams.choices, index, updObject);
            },
            // wp.media hook
            uploadImage(index) {
                const vueModel = this;

                const file_frame = wp.media.frames.file_frame = wp.media({
                    title: 'Select or upload image',
                    library: { // remove these to show all
                        type: 'image' // specific mime
                    },
                    button: {
                        text: 'Select'
                    },
                    multiple: false  // Set to true to allow multiple files to be selected
                });

                // When an image is selected in the media frame...
                file_frame.on( 'select', function() {

                    // Get media attachment details from the frame state
                    const attachment = file_frame.state().get('selection').first().toJSON();

                    // set image id and src (for thumbnail)
                    vueModel.updateChoiceImage(index, attachment.id, attachment.url);

                });

                // open the modal
                file_frame.open();
            }
        },
        components: {
            'font-awesome-icon': FontAwesomeIcon,
            draggable
        }
    }
</script>

<style scoped>

</style>