<template>
    <div class="sq-answers-range-wrapper">
        <div>Выбор значения между минимальным и максимальным значением</div>
        <div class="sq-mb-10 sq-answer__container" style="width: 50%;">
            <input type="number"
                   v-model="questionParams.min"
                   placeholder="Минимум"
                   class="form-input"
            >
            <input type="number"
                   v-model="questionParams.max"
                   placeholder="Максимум"
                   class="form-input"
            >
        </div>

    </div>
</template>

<script>
    export default {
        name: "RangeType",
        props: {
            questionParams: {
                default: {
                    choices: [],
                    isNotRequired: false,
                    min: 0,
                    max: 100
                }
            }
        },
    }
</script>

<style scoped>

</style>