<template>
    <div class="sq-answers-text-wrapper">
        <draggable v-model="questionParams.choices">
            <div v-for="(choice, index) in questionParams.choices" :key="index" class="sq-mb-10 sq-answer__container">
                <input type="text" v-model="questionParams.choices[index].title" class="form-input"
                       @keypress="updateChoice(index, questionParams.choices[index])">
                <div @click="deleteChoice(index)" class="icon-delete sq-btn">
                    <font-awesome-icon icon="trash"></font-awesome-icon>
                </div>
                <div class="icon-drag">
                    <font-awesome-icon icon="arrows-alt"></font-awesome-icon>
                </div>
            </div>
        </draggable>
        <div class="sq-btn" @click="addChoice">
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span>Добавить вариант</span>
        </div>
        <div class="question__checkboxes">
            <div class="q-checkbox">
                <label>
                    Можно несколько
                    <input type="checkbox" v-model="questionParams.isFewChoices" :checked="questionParams.isFewChoices">
                </label>
            </div>
            <div class="q-checkbox">
                <label>
                    Позволить пользователю вводить свой ответ
                    <input type="checkbox" v-model="questionParams.isOthers" :checked="questionParams.isOthers">
                </label>
            </div>
            <div class="q-checkbox">
                <label>
                    Необязательный вопрос
                    <input type="checkbox" v-model="questionParams.isNotRequired" :checked="questionParams.isNotRequired">
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
    import {faTrash} from '@fortawesome/free-solid-svg-icons'
    import {faPlus} from '@fortawesome/free-solid-svg-icons'
    import {faArrowsAlt} from '@fortawesome/free-solid-svg-icons'

    library.add(faTrash);
    library.add(faPlus);
    library.add(faArrowsAlt);

    export default {
        name: "TextType",
        props: {
            questionParams: {
                default: {
                    choices: [],
                    isFewChoices: false,
                    isOthers: false,
                    isNotRequired: false
                }
            }
        },
        data() {
            return {
            }
        },
        methods: {
            addChoice() {
                this.questionParams.choices.push({ id: null, title: '', value: '' });
            },
            deleteChoice(id) {
                this.questionParams.choices.splice(id, 1)
            },
            updateChoice(index, value) {
                const updObject = Object.assign({}, this.questionParams.choices[index], {title: value});
                this.$set(this.questionParams.choices, index, updObject);
            }
        },
        components: {
            'font-awesome-icon': FontAwesomeIcon,
            draggable
        }
    }
</script>
