<template>
    <div class="squiz__radio sq-row">
        <div class="squiz__text--container sq-col-lg-6">
            <div class="choices-wrapper sq-w-100 sq-mt-20">
                <div v-for="(item, index) in question.answers" :key="index" class="squiz__text--choices sq-full-width">
                    <label class="squiz__text-radio">
                        <input type="radio"
                               name="text-answer"
                               :value="item"
                               @click="setAnswer(item.id)"
                               :checked="item.id === question.userAnswer"
                        >
                        <span class="b-check"></span>
                        <span class="check-label">
                        {{ item.title }}
                    </span>
                    </label>
                </div>
                <div v-show="isShowOther" class="squiz__text--choices squiz__text--other sq-full-width">
                    <label class="squiz__text-radio">
                        <input type="radio"
                               name="text-answer"
                               v-model="question.userAnswer"
                               value="-1"
                        >
                        <span class="b-check"></span>
                    </label>
                    <div class="squiz__text--field">
                        <input v-model="question.otherAnswer"
                               type="text"
                               autocomplete="on"
                               placeholder="Другое..."
                               class="squiz-input"
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="sq-col-lg-6">
            <div class="sq-img-container sq-mt-20">
                <div v-if="question.userAnswer === null">Выберите вариант ответа</div>
                <div v-else-if="parseInt(question.userAnswer) === -1">Введите свой вариант</div>
                <img v-else
                     :src="userSelectedImg"
                     :style="{height: imgHeight}"
                     class="sq-img-choice"
                     alt="img"
                >
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "QuizImgTextType",
        data() {
            return {
                answer: null,
                showOther: false
            }
        },
        props: ['question', 'next'],
        computed: {
            isShowOther() {
                let show = this.showOther;
                if (this.question.isOthers !== undefined && this.question.isOthers === true) {
                    show = true;
                }
                return show;
            },
            userSelectedImg() {
                if (this.question.userAnswer !== null && parseInt(this.question.userAnswer) !== -1) {
                    return this.question.answers.filter(x => x.id === this.question.userAnswer)[0].value
                }
            },
            imgHeight() {
                if (this.question.answers.length > 2) {
                    return (this.question.answers.length + (this.question.isOthers ? 1 : 0)) * 65 + 'px';
                } else {
                    return 250 + 'px';
                }
            }
        },
        methods: {
            setAnswer (id) {
                const ans = {
                    question_id: this.question.id,
                    answer: {
                        id: id,
                    }
                };
                this.$store.commit('setUserAnswer', ans);

                /*const model = this;
                setTimeout(function () {
                    model.next();
                }, 300);*/

            }
        }
    }
</script>

<style scoped>

</style>