<template>
    <div class="squiz__image">
        <div class="squiz__image--container row ">
                <div v-for="(item, index) in question.answers" :key="index" :class="getCardClass">

                    <div class="answer__image ">
                        <label class="squiz-radio">
                            <input type="radio"
                                   name="img-answer"
                                   :value="item"
                                   @click="setAnswer(item.id)"
                                   :checked="item.id === question.userAnswer"
                            >
                            <div class="answer__image--wrapper">
                                <span class="squiz-check"></span>

                                <img :src="item.value"/>

                                <span class="answer__image--title">
                                    {{ item.title }}
                                </span>
                            </div>
                        </label>
                    </div>
                </div>

        </div>
    </div>
</template>

<script>

    export default {
        name: "QuizImageType",
        data() {
            return {
                height: 200,
                width: 148,
                slideCount: 2,
                cardClass: 'pr-zero col-lg-3'
            }
        },
        props: ['question', 'next'],
        computed: {
            getWidth () {
                let getWidth = this.width;
                if (this.question.answers.length <= 2) {
                    getWidth = 380 - 60;
                }
                if (this.question.answers.length >= 3) {
                    getWidth = 180 - 15;
                }

                return getWidth;
            },
            getCardClass () {
                let getCC = this.cardClass;
                if (this.question.answers.length <= 2) {
                    getCC = 'big-img pr-zero col-6 col-md-6 col-lg-4';
                }
                if (this.question.answers.length >= 3) {
                    getCC = 'small-img pr-zero col-6 col-md-6 col-lg-3';
                }
                return getCC;
            },
            getUserAnswer() {
                if (this.userAnswers.answers.length > 0) {
                    const objIndex = this.userAnswers.answers.findIndex((obj => obj.question_id === this.question.id));
                    if (objIndex !== -1) {
                        console.log(this.userAnswers.answers[objIndex]);
                        return this.userAnswers.answers[objIndex];
                    } else {
                        return null;
                    }
                } else {
                    return null;
                }
            }
        },
        methods: {
            setAnswer (id) {
                const ans = {
                    question_id: this.question.id,
                    answer: {
                        id: id,
                    }
                };
                this.$store.commit('setUserAnswer', ans);

                const model = this;
                setTimeout(function () {
                    model.next();
                }, 300);

            }
        }
    }
</script>

<style scoped>

</style>