<template>
    <div class="squiz__radio">
        <div class="squiz__text--container">
            <div v-for="(item, index) in question.answers" :key="index" class="squiz__text--choices">
                <label class="squiz__text-radio">
                    <input type="radio"
                           name="text-answer"
                           :value="item"
                           @click="setAnswer(item.id)"
                           :checked="item.id === question.userAnswer"
                    >
                    <span class="b-check"></span>
                    <span class="check-label">
                        {{ item.title }}
                    </span>
                </label>
            </div>
            <div v-show="isShowOther" class="squiz__text--choices squiz__text--other">
                <label class="squiz__text-radio">
                    <input type="radio"
                           name="text-answer"
                           v-model="question.userAnswer"
                           value="-1"
                    >
                    <span class="b-check"></span>
                </label>
                <div class="squiz__text--field">
                    <input v-model="question.otherAnswer"
                           type="text"
                           autocomplete="on"
                           placeholder="Другое..."
                           class="squiz-input"
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "QuizTextType",
        data() {
            return {
                answer: null,
                showOther: false
            }
        },
        props: ['question', 'next'],
        computed: {
            isShowOther() {
                let show = this.showOther;
                if (this.question.isOthers !== undefined && this.question.isOthers === true) {
                    show = true;
                }
                return show;
            }
        },
        methods: {
            setAnswer (id) {
                const ans = {
                    question_id: this.question.id,
                    answer: {
                        id: id,
                    }
                };
                this.$store.commit('setUserAnswer', ans);

                const model = this;
                setTimeout(function () {
                    model.next();
                }, 300);

            }
        }
    }
</script>

<style scoped>

</style>