<template>
    <div class="squiz__custom">
        <div class="squiz__text--container">
            <div class="squiz__text--other sq-w-100">
                <div class="squiz__text--field">
                    <input v-model="question.userAnswer"
                           type="text"
                           autocomplete="on"
                           placeholder="Введите ответ"
                           class="squiz-input input-dark"
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "QuizCustomTextType",
        props: ['question', 'next'],
    }
</script>

<style scoped>

</style>