<template>
    <div class="squiz__range">
        <div class="sq-range-wrapper">
            <span class="sq-center">{{ question.min }}</span>
            <vue-slider ref="slider"
                        v-model="value"
                        :min="parseInt(question.min)"
                        :max="parseInt(question.max)"
                        height="10"
                        width="100%"
                        :bg-style="bgStyle"
                        :slider-style="sliderStyle"
                        :tooltip-style="tooltipStyle"
                        :process-style="processStyle"
            ></vue-slider>
            <span class="sq-center">{{ question.max }}</span>
        </div>

    </div>
</template>

<script>
    import vueSlider from 'vue-slider-component'

    export default {
        name: "RangeType",
        data() {
            return {
                value: 1,
                bgStyle: {
                    "backgroundColor": "#6cb77c",
                },
                sliderStyle: {
                    "backgroundColor": "#fff"
                },
                tooltipStyle: {
                    "backgroundColor": "#206144",
                    "borderColor": "#206144"
                },
                processStyle: {
                    "backgroundColor": "#206144",
                }
            }
        },
        watch: {
            value(newVal, oldVal) {
                this.question.userAnswer = newVal;
            }
        },
        props: ['question', 'next'],
        methods: {
            setAnswer(id) {
                if (id > 0) {
                    const ans = {
                        question_id: this.question.id,
                        answer: {
                            id: id,
                        }
                    };
                    this.$store.commit('setUserAnswer', ans);

                    const model = this;
                    setTimeout(function () {
                        model.next();
                    }, 300);
                }
            }
        },
        components: {
            vueSlider
        }
    }
</script>

<style scoped>

</style>