<template>
    <div class="squiz__radio">
        <div class="squiz__select--container">
            <div class="sq-select">
                <select v-model="question.userAnswer" @change="setAnswer(question.userAnswer)">
                    <option :selected="question.userAnswer === null">Выберите ответ</option>
                    <option v-for="(item, index) in question.answers"
                            :value="item.id"
                            :selected="item.id === question.userAnswer"
                    >{{ item.title }}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "QuizSelectType",
        data() {
            return {
                answer: null,
                showOther: false,
                selectedAnswer: 0
            }
        },
        props: ['question', 'next'],
        computed: {
            isShowOther() {
                let show = this.showOther;
                if (this.question.other !== undefined && this.question.other === true) {
                    show = true;
                }
                return show;
            }
        },
        methods: {
            setAnswer (id) {
                if (id > 0) {
                    const ans = {
                        question_id: this.question.id,
                        answer: {
                            id: id,
                        }
                    };
                    this.$store.commit('setUserAnswer', ans);

                    const model = this;
                    setTimeout(function () {
                        model.next();
                    }, 300);
                }
            }
        }
    }
</script>

<style scoped>

</style>