.row {
  display: flex;

  .col-4 {
    width: 20%;
  }

  .col-8 {
    width: 80%;
  }
}


.sq {
  &-w-100 {
    width: 100%;
  }

  &-mt-10 {
    margin-top: 10px;
  }
  &-mb-10 {
    margin-bottom: 10px;
  }
  &-ml-10 {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;

    .col-4 {
      width: 100%;
    }

    .col-8 {
      width: 100%;
    }
  }
}