.question-wrapper {
  margin-top: 20px;
}

.sq {
  &-list {
    padding: 15px;
    background: white;
    border-radius: 6px;
    margin: 0;
    li {
      margin: 0;
      cursor: pointer;
      padding: 10px 15px;

      &.sq-active {
        background-color: #ccc;
        border-radius: 6px;
        border: 1px solid green;
      }
    }
  }

  &-answers {
    margin-left: 10px;
  }

  &-answer__container {
    display: flex;
    flex-direction: row;
    position: relative;

    .form-input {
      display: block;
      width: 100%;
      height: calc(2.0625rem + 2px);
      padding: .375rem .75rem;
      font-size: .875rem;
      line-height: 1.5;
      color: #5c6873;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #e4e7ea;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      &.input-upload {
        padding-left: 40px;
      }
    }

    .icon-delete {
      position: absolute;
      right: 60px;
      top: 25%;

    }
    .icon-drag {
      padding: 8px 16px;
      cursor: move;
      color: grey;
    }

    .icon-purple {

    }

    .icon-upload {
      position: absolute;
      top: 2px;
      left: 2px;
      height: 17px;
      text-align: center;
      width: 33px;
      padding: 8px 0;
      transition: all .05s ease-in;
      cursor: pointer;
    }

    .icon-black {
      background: silver;
      color: #000;
    }
  }
  &-background-icon {
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-conditions {
    border: 3px solid #cfd8dc;
    background: rgba(207,216,220,.412);
    margin-bottom: 25px;
    &__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .card-body {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.25rem;
    }
  }
}

.medium-text {
  font-size: 14px;
  font-weight: 600;
}
.light-text {
  font-size: 14px;
}

.modal-body {
  margin: 20px;

}

.sq-btn {
  cursor: pointer;
  color: #d34085;
  &:hover {
    color: #a1255f;
    text-decoration: underline;
  }
}

.question__checkboxes {
  text-align: right;
  .q-checkbox {

  }
}

.btn-secondary {
  border-color: #ccc !important;
  &:hover {
    color: #23282c;
    background-color: #ececec;
    border-color: #e6e6e6;
  }
  &:focus {
    outline: none;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}